<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>汇率</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<p>现在的加币汇率是: <%= currency %> </p>
	<p>如果没有结果,请刷新页面</p>
  <script src="js/scripts.js"></script>
</body>
</html>